<h3>Film ändern</h3>
<hr>
<form th:action="@{/updatefilm}" class="col-4">
    <div class="mb-3">
        <label for="filmTitel" class="form-label">Titel</label>
        <!-- th:name definiert den Namen des Feldes, welches der Controller in der Methodensignatur entgegennimmt. -->
        <input type="text" class="form-control" id="filmTitel" th:value="${film.getTitel()}" th:name="filmTitel">
    </div>

    <div class="mb-3">
      <label for="filmFSK" class="form-label">FSK</label>
      <input type="text" class="form-control" id="filmFSK" th:value="${film.getFSK()}" th:name="filmFSK">
  </div>

    <div class="mb-3">
        <label for="filmLaenge" class="form-label">Laenge</label>
        <input type="text" class="form-control" id="filmLaenge" th:value="${film.getLaenge()}" th:name="filmLaenge">
    </div>

    <!-- Die zu ändernde ID wird hier mit in das Formular gegeben, um auch das richtige Element zu ändern. -->
    <input type="number" class="form-control" th:value="${id}" th:name="id" style="display: none;" >
    <div>
        <a class="btn btn-primary" role="button" th:href="@{/film}">Zurück</a>
        <button type="submit" class="btn btn-success">Speichern</button>
    </div>
</form>