<h3>Neuen Film hinzufügen</h3>
<hr>
<form th:action="@{/addfilm}" class="col-4">
    <div class="mb-3">
        <label for="filmTitel" class="form-label">Titel</label>
        <!-- th:name definiert den Namen des Feldes, welches der Controller in der Methodensignatur entgegennimmt. -->
        <input type="text" class="form-control" id="filmTitel" placeholder="Titel" th:name="filmTitel">
    </div>

    <div class="mb-3">
        <label for="filmLaenge" class="form-label">Laenge</label>
        <input type="number" class="form-control" id="filmLaenge" placeholder="Laenge" th:name="filmLaenge">
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">Film anlegen</button>
    </div>
</form>

